<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Create Recipe</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css" /> -->
    <script
      src="https://kit.fontawesome.com/783d090aa0.js"
      crossorigin="anonymous"
    ></script>
    <!-- SHOELACE -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/light.css"
    />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/shoelace-autoloader.js"
    ></script>
  </head>
  <body>
    <div class="recipe-container">
      <header class="main-header">
        <input type="hidden" id="recipeIdInput" th:value="${recipeId}" />
        <input type="hidden" id="userIdInput" th:value="${user.id}" />
        <nav class="nav">
          <img class="logo" src="/static/img/hikerhunger-logo.svg" />
          <form th:action="@{/landing}" method="get">
            <sl-button
              class="logout-btn"
              type="submit"
              variant="primary"
              size="medium"
              >Logout</sl-button
            >
          </form>
        </nav>
      </header>
      <section class="recipe-section">
        <form
          id="recipeForm"
          th:action="@{/home/saveRecipe/{recipeId}(recipeId=${recipe.recipeId})}"
          method="post"
        >
          <div>
            <sl-input
              id="recipeName"
              label="Recipe Name"
              placeholder="Mac & Cheese, Fancy Ramen, etc."
              size="large"
              clearable
            ></sl-input>
          </div>
          <div>
            <sl-select
              for="mealCategory"
              id="recipeType"
              th:field="${recipe.recipeType}"
              label="Meal Type"
            >
              <sl-option value="BREAKFAST">Breakfast</sl-option>
              <sl-option value="LUNCH">Lunch</sl-option>
              <sl-option value="DINNER">Dinner</sl-option>
              <sl-option value="SNACK">Snack</sl-option>
              <sl-option value="EXTRA">Extra</sl-option>
            </sl-select>
          </div>

          <div>
            <sl-textarea
              id="instructions"
              th:field="${recipe.instructions}"
              label="Recipe Instructions"
              placeholder="Step 1: Boil water, Step 2: Add Macaroni, etc..."
            >
            </sl-textarea>
          </div>

          <div>
            <sl-input
              label="How many people does this serve?"
              placeholder="2"
              size="medium"
              type="number"
              min="1"
              id="servings"
              th:field="${recipe.servings}"
              clearable
            ></sl-input>
          </div>
          <div class="totalWeight">
            <h3>Weight</h3>
            <div>
              <label class="weight__label">Grams:</label>
              <input
                th:field="${recipe.totalWeight}"
                class="weightInGrams"
                type="number"
                id="weightInGrams"
                readonly
              />
            </div>
            <div>
              <p class="weight__label">Pounds:</p>
              <p class="weightInPounds">0.0</p>
            </div>
          </div>
          <sl-button variant="success" type="submit" id="submitButton"
            >Save Recipe</sl-button
          >
        </form>
      </section>

      <!-- INGREDIENTS SECTION -->
      <section class="ingredient-section" id="ingredientsSection">
        <h2>Ingredients</h2>
        <sl-button
          variant="success"
          class="show-newIngredient-modal"
          type="button"
          >Add an Ingredient</sl-button
        >
        <table class="ingredient-table" id="ingredientsContainer">
          <tr>
            <th>ID</th>
            <th>Ingredient Name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Grams</th>
            <th>Notes</th>
            <th></th>
            <th></th>
          </tr>
        </table>
      </section>

      <!-- NEW INGREDIENT MODAL WINDOW -->
      <div class="new-ingredient-modal hidden">
        <form>
          <sl-icon name="x-square" class="close-modal"></sl-icon>
          <h3>Add an Ingredient</h3>
          <label>Ingredient Name:</label>
          <input id="ingredientNameInput" type="text" /><br />
          <label>Quantity:</label>
          <input id="quantityInput" value="0" min="0" type="number" /><br />
          <label>Unit:</label>
          <input id="unitInput" type="text" /><br />
          <label>Weight In Grams:</label>
          <input id="weightInput" value="0" min="0" type="number" /><br />
          <label>Notes:</label>
          <input id="notesInput" type="text" />
          <div class="add-ingredient-btn">
            <sl-button variant="success" type="button" id="addIngredientButton"
              >Save Ingredient</sl-button
            >
          </div>
        </form>
      </div>
      <div class="overlay hidden"></div>

      <!-- EDIT INGREDIENT MODAL WINDOW -->
      <div class="edit-ingredient-modal hidden">
        <form id="editIngredientForm">
          <sl-icon name="x-square" class="close-modal"></sl-icon>
          <input id="id" type="hidden" /><br />
          <label>Ingredient Name:</label>
          <input id="ingredientName" type="text" /><br />
          <label>Quantity:</label>
          <input id="quantity" type="number" value="0" min="0" /><br />
          <label>Unit:</label>
          <input id="unit" type="text" /><br />
          <label>Weight In Grams:</label>
          <input id="weight" type="number" value="0" min="0" /><br />
          <label>Notes:</label>
          <input id="notes" type="text" />
          <div class="update-ingredient-btn">
            <sl-button variant="success" type="button" id="editIngredientButton"
              >Update Ingredient</sl-button
            >
          </div>
        </form>
      </div>
      <div class="edit-overlay hidden"></div>

      <script src="/js/recipe.js"></script>
    </div>
  </body>
</html>
