/* UNIVERSAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #053b14;
}

h1,
h2,
h3,
p,
label,
sl-button,
table {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* NAV BAR AND HEADER */
.main-header {
  border-bottom: 2px solid #72a968;
  width: 100%;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding: 0 1rem;
}

.logout-btn::part(base) {
  background-color: #bca79e;
  border-color: #bca79e;
}

/* MAIN */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.trip-title-box,
.recipe-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn::part(base) {
  background-color: #9a3530;
  border-color: #9a3530;
}

.recipes-box,
.trips-box {
  border: 2px solid white;
  height: 500px;
  width: 600px;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #72a968;
}

.copyright {
  margin-top: 20px;
}

/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.new-ingredient-modal,
.edit-ingredient-modal,
.recipeViewPopup,
.tripViewPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay,
.edit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
