<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dashboard</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- FOR RUNNING WITH SPRING -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css" /> -->
    <!-- Running w/ Live Server -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <!-- SHOELACE -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/light.css"
    />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/shoelace-autoloader.js"
    ></script>

    <!-- ICONS -->
    <script
      src="https://kit.fontawesome.com/783d090aa0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="main-header">
      <nav class="nav">
        <!-- <img class="logo" src="/img/hikerhunger-logo.svg" /> -->
        <img class="logo" src="../../static/img/hikerhunger-logo.svg" />

        <form th:action="@{/landing}" method="get">
          <sl-button
            class="logout-btn nav-btn"
            type="submit"
            variant="primary"
            size="medium"
            outline
            >Logout</sl-button
          >
        </form>
      </nav>
    </header>
    <div class="container">
      <div class="main">
        <section class="home-recipe-section">
          <div class="title-box">
            <h2>Your Recipes</h2>
            <form
              th:action="@{/home/{userId}/recipe(userId=${user.id})}"
              method="post"
            >
              <sl-button class="add-btn" type="submit" variant="primary"
                >Add New Recipe</sl-button
              >
            </form>
          </div>
          <div class="recipes-box">
            <div
              class="empty"
              th:if="${recipes == null or #lists.size(recipes) == 0}"
            >
              <p>You don't have any recipes yet!</p>
            </div>
            <div th:if="${#lists.size(recipes) > 0}">
              <table id="homeRecipesTable">
                <tr
                  method="get"
                  th:each="recipe : ${recipes}"
                  th:attr=" data-recipe-id=${recipe.recipeId}"
                  class="recipe-row"
                >
                  <input
                    type="hidden"
                    th:value="${recipe.recipeId}"
                    class="recipe-id"
                  />
                  <td th:text="${recipe.recipeName}"></td>
                  <td th:text="${recipe.recipeType?.displayValue}"></td>
                  <td th:text="${recipe.servings}"></td>
                  <td th:text="${recipe.totalWeight}"></td>
                </tr>
                <tr>
                  <th>Mac & Cheese</th>
                  <th>Dinner</th>
                  <!-- <th>Instructions</th> -->
                  <th>2 / people</th>
                  <th>454 / grams</th>
                </tr>
              </table>
            </div>
          </div>
        </section>

        <!-- ////////////// RECIPE POP_UP WINDOW //////////////////////// -->
        <div class="recipeViewPopup hidden"></div>
        <div class="overlay hidden"></div>

        <section class="home-trip-section">
          <div class="title-box">
            <h2>Your Trips</h2>
            <form
              th:action="@{/home/{userId}/trip(userId=${user.id})}"
              method="post"
            >
              <sl-button class="add-btn" type="submit" variant="primary"
                >Build A Trip</sl-button
              >
            </form>
          </div>
          <div class="trips-box">
            <div
              class="empty"
              th:if="${trips == null or #lists.size(trips) == 0}"
            >
              <p>You don't have any trips yet!</p>
            </div>
            <div th:if="${#lists.size(trips) > 0}">
              <table id="homeTripsTable">
                <tr>
                  <th>Trip Name</th>
                  <th>Number Of Days</th>
                  <th>Number of People</th>
                  <th>Weight Per Person/Per Day</th>
                </tr>
                <tr
                  method="get"
                  th:each="trip : ${trips}"
                  th:attr=" data-trip-id=${trip.tripId}"
                  class="trip-row"
                >
                  <input
                    type="hidden"
                    th:value="${trip.tripId}"
                    class="trip-id"
                  />
                  <td th:text="${trip.tripName}"></td>
                  <td th:text="${trip.numOfDays}"></td>
                  <td th:text="${trip.numOfPeople}"></td>
                  <td th:text="${trip.gramsPerPersonPerDay}"></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="tripViewPopup hidden"></div>
        </section>

        <!--[if lt IE 7]>
          <p class="browsehappy">
            You are using an <strong>outdated</strong> browser. Please
            <a href="#">upgrade your browser</a> to improve your experience.
          </p>
        <![endif]-->
      </div>
      <footer class="footer">
        <p id="copyright" class="copyright text">
          Copyright &copy; 2024 by Jeff Podmayer.
        </p>
      </footer>
    </div>
    <script src="/js/home.js"></script>
  </body>
</html>
