<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dashboard</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- FOR RUNNING WITH SPRING -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- Running w/ Live Server -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css" /> -->
    <!-- SHOELACE -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/light.css"
    />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/shoelace-autoloader.js"
    ></script>

    <!-- ICONS -->
    <script
      src="https://kit.fontawesome.com/783d090aa0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="main-header">
      <nav class="nav">
        <!-- <img
          class="logo"
          alt="mountain logo"
          src="../../static/img/hikerhunger-logo.svg"
        /> -->
        <img class="logo" alt="mountain logo" src="/img/hikerhunger-logo.svg" />

        <form th:action="@{/landing}" method="get">
          <sl-button
            class="logout-btn nav-btn"
            type="submit"
            variant="primary"
            size="medium"
            outline
            >Logout</sl-button
          >
        </form>
      </nav>
    </header>
    <div class="container">
      <div class="main">
        <section class="home-recipe-section dashboard">
          <div class="title-box">
            <h2>Your Recipes</h2>
            <form
              th:action="@{/home/{userId}/recipe(userId=${user.id})}"
              method="post"
            >
              <sl-button class="add-btn" type="submit" variant="primary"
                >Add New Recipe</sl-button
              >
            </form>
          </div>
          <div class="info-table">
            <!-- <div
              class="empty"
              th:if="${recipes == null or #lists.size(recipes) == 0}"
            >
              <p>You don't have any recipes yet!</p>
            </div> -->
            <div class="wrapper" th:if="${#lists.size(recipes) > 0}">
              <table class="recipes-table home-table" id="homeRecipesTable">
                <tr>
                  <th>Name</th>
                  <th>Meal</th>
                  <th># Serves</th>
                  <th>Grams</th>
                </tr>
                <tr
                  method="get"
                  th:each="recipe : ${recipes}"
                  th:attr=" data-recipe-id=${recipe.recipeId}"
                  class="recipe-row"
                >
                  <input
                    type="hidden"
                    th:value="${recipe.recipeId}"
                    class="recipe-id"
                  />
                  <td th:text="${recipe.recipeName}"></td>
                  <td th:text="${recipe.recipeType?.displayValue}"></td>
                  <td th:text="${recipe.servings}"></td>
                  <td th:text="${recipe.totalWeight}"></td>
                </tr>
                <!-- <tr>
                  <input type="hidden" value="2" class="" />
                  <td>Mac and Cheese</td>
                  <td>Dinner</td>
                  <td>3</td>
                  <td>470</td>
                </tr> -->
              </table>
            </div>
          </div>
        </section>

        <!-- ////////////// RECIPE POP_UP WINDOW //////////////////////// -->
        <div class="hidden recipeViewPopup modal-form">
          <!-- <div class="icon-popup">
            <sl-icon
              class="edit_icon popup-edit-icon"
              name="pencil-square"
            ></sl-icon>
            <sl-icon name="x" class="close-modal"></sl-icon>
          </div>
          <input type="hidden" class="recipe-id" ${data.recipeId} />
          <div class="recipe-popup-title">
            <h1>Macaroni & Cheese</h1>
            <p class="recipe-popup-meal">Dinner</p>
          </div>
          <div>
            <h3>Serves:</h3>
            <p>3 / people</p>
          </div>
          <div>
            <h3>Weight:</h3>
            <p>300 / grams</p>
          </div>
          <div>
            <h3>Instructions:</h3>
            <p>Step 1: Boil Water, Step 2: Add Pasta</p>
          </div>
          <div class="recipe-popup-table">
            <h2>Ingredients</h2>
            <table class="ingredient-table"> -->
          <!-- <thead>
                <tr>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Unit</th>
                  <th>Weight</th>
                  <th>Notes</th>
                </tr>
              </thead> -->
          <!-- <tbody>
                <tr>
                  <td class="ingredientName">Macaroni</td>
                  <td class="quantity">3</td>
                  <td class="unit">boxes</td>
                  <td class="weight weightInput">370 / grams</td>
                  <td>Annies Mac</td>
                </tr>
              </tbody>
            </table>
          </div> -->
        </div>

        <section class="home-trip-section dashboard">
          <div class="title-box">
            <h2>Your Trips</h2>
            <form
              th:action="@{/home/{userId}/trip(userId=${user.id})}"
              method="post"
            >
              <sl-button class="add-btn" type="submit" variant="primary"
                >Build A Trip</sl-button
              >
            </form>
          </div>
          <div class="info-table">
            <div
              class="empty"
              th:if="${trips == null or #lists.size(trips) == 0}"
            >
              <p>You don't have any trips yet!</p>
            </div>
            <div class="wrapper" th:if="${#lists.size(trips) > 0}">
              <table class="home-table" id="homeTripsTable">
                <tr>
                  <th>Name</th>
                  <th># / Days</th>
                  <th># / People</th>
                  <th>Grams Pppd</th>
                </tr>
                <tr
                  method="get"
                  th:each="trip : ${trips}"
                  th:attr=" data-trip-id=${trip.tripId}"
                  class="trip-row"
                >
                  <input
                    type="hidden"
                    th:value="${trip.tripId}"
                    class="trip-id"
                  />
                  <td th:text="${trip.tripName}"></td>
                  <td th:text="${trip.numOfDays}"></td>
                  <td th:text="${trip.numOfPeople}"></td>
                  <td th:text="${trip.gramsPerPersonPerDay}"></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="tripViewPopup hidden"></div>
        </section>

        <!--[if lt IE 7]>
          <p class="browsehappy">
            You are using an <strong>outdated</strong> browser. Please
            <a href="#">upgrade your browser</a> to improve your experience.
          </p>
        <![endif]-->
      </div>
      <footer class="footer">
        <p id="copyright" class="copyright text">
          Copyright &copy; 2024 by Jeff Podmayer
        </p>
      </footer>
      <div class="overlay hidden"></div>
    </div>
    <script src="/js/home.js"></script>
  </body>
</html>
