<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Welcome to hikerhunger</title>
    <!-- SHOELACE -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/light.css"
    />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/shoelace-autoloader.js"
    ></script>
    <!-- FOR RUNNING WITH SPRING -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css" /> -->
    <!-- Running w/ Live Server -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <header class="main-header">
        <nav class="nav">
          <img
            class="logo"
            alt="mountain logo"
            src="../../static/img/hikerhunger-logo.svg"
          />
          <!-- <img
            class="logo"
            alt="mountain logo"
            src="/img/hikerhunger-logo.svg"
          /> -->
          <div class="nav-link">
            <!-- <sl-button class="nav-btn" href="#" variant="text" size="medium"
              >About</sl-button
            >
            <sl-button class="nav-btn" href="#" variant="text" size="medium"
              >FAQ</sl-button
            > -->
            <form
              class="sign-up-btn nav-btn"
              th:action="@{/register}"
              method="get"
            >
              <sl-button class="nav-btn" type="submit" variant="primary" outline
                >Sign-Up</sl-button
              >
            </form>
            <form th:action="@{/signin}" method="get">
              <sl-button class="btn nav-btn" type="submit" variant="success"
                >Log In</sl-button
              >
            </form>
          </div>
        </nav>
      </header>
      <section class="hero-section">
        <!-- <img
          src="/img/trail.jpeg"
          alt="A hiking trail in the
        mountains"
          class="trail-img"
        /> -->
        <img
          src="../../static/img/trail.jpeg"
          alt="A hiking trail in the
        mountains"
          class="trail-img"
        />
        <h1 class="text-overlay">Welcome to hikerhunger!</h1>
      </section>
      <section class="section-1">
        <div>
          <h1>What is hikerhunger?</h1>
          <h3>
            Create Your Recipes. Plan Your Trips. Know How Much You Carry.
          </h3>
          <p>
            hikerhunger is an application where users can create their favorite
            backcountry recipes and add them to their recipe book. Then, they
            can take those recipes and plan their backcountry trip meal plan. As
            they plan their trip, users are able to see the weight of food per
            person/per day and plan the amount of food they carry accordingly.
            The existing recipes that a user has adjust automatically based on
            the number of people on their trip!
          </p>

          <p>Start planning!</p>
        </div>
        <div>
          <h1>How do I use hikerhunger?</h1>
          <ol>
            <li>Create an account</li>
            <li>
              Add your recipes and their ingredients - could be a breakfast,
              lunch, dinner or a snack (like Trail Mix).
            </li>
            <li>Once you have a handful of recipes created...Build a Trip!</li>
            <li>
              As you build your trip watch the weight of each individual recipe
              adjust for the number of people on your trip.
            </li>
            <li>
              Add as many recipes of any type as you like to your trip and
              observe the weight per person/per day change.
            </li>
            <li>Save your Trip! Use it and reuse it when you are ready!</li>
          </ol>
        </div>
      </section>
      <footer class="footer">
        <p id="copyright" class="copyright text">
          Copyright &copy; 2024 by Jeff Podmayer
        </p>
      </footer>
    </div>
  </body>
</html>
