<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Welcome to hikerhunger</title>
    <!-- SHOELACE -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/light.css"
    />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/shoelace-autoloader.js"
    ></script>
    <!-- FOR RUNNING WITH SPRING -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- Running w/ Live Server -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css" /> -->
  </head>
  <body>
    <div class="container">
      <header class="main-header">
        <nav class="nav">
          <!-- <img
            class="logo"
            alt="mountain logo"
            src="../../static/img/hikerhunger-logo.svg"
          /> -->
          <img
            class="logo"
            alt="mountain logo"
            src="/img/hikerhunger-logo.svg"
          />
          <div class="nav-link">
            <!-- <sl-button class="nav-btn" href="#" variant="text" size="medium"
              >About</sl-button
            >
            <sl-button class="nav-btn" href="#" variant="text" size="medium"
              >FAQ</sl-button
            > -->
            <form
              class="sign-up-btn nav-btn"
              th:action="@{/register}"
              method="get"
            >
              <sl-button class="nav-btn" type="submit" variant="primary" outline
                >Sign-Up</sl-button
              >
            </form>
            <form th:action="@{/signin}" method="get">
              <sl-button class="btn nav-btn" type="submit" variant="success"
                >Log In</sl-button
              >
            </form>
          </div>
        </nav>
      </header>
      <section class="hero-section">
        <img
          src="/img/trail.jpeg"
          alt="A hiking trail in the
        mountains"
          class="trail-img"
        />
        <h1 class="text-overlay">Welcome to hikerhunger!</h1>
      </section>
      <!-- <section class="section-1">
        <div>
          <h1>About</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
            asperiores quasi aspernatur dolore rem veritatis sequi, quos
            pariatur omnis dolorem possimus ab? Nostrum delectus amet veniam,
            provident cum porro alias?
          </p>
        </div>
        <div></div>
      </section> -->
      <footer class="footer">
        <p id="copyright" class="copyright text">
          Copyright &copy; 2024 by Jeff Podmayer
        </p>
      </footer>
    </div>
  </body>
</html>
