<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/783d090aa0.js"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!-- SHOELACE -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/light.css"
    />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/shoelace-autoloader.js"
    ></script>
    <title>Build Your Trip!</title>
  </head>
  <body>
    <header class="main-header">
      <input type="hidden" id="tripId" th:value="${trip.tripId}" />
      <nav class="nav">
        <!-- <img
          class="logo"
          alt="mountain logo"
          src="../../static/img/hikerhunger-logo.svg"
        /> -->
        <img class="logo" alt="mountain logo" src="/img/hikerhunger-logo.svg" />
        <form th:action="@{/landing}" method="get">
          <sl-button
            class="logout-btn nav-btn"
            type="submit"
            variant="primary"
            size="medium"
            outline
            >Logout</sl-button
          >
        </form>
      </nav>
    </header>
    <div class="container">
      <div class="trip-container">
        <section class="trip-section">
          <form
            id="tripForm"
            th:action="@{/home/saveTrip/{tripId}(tripId=${trip.tripId})}"
            method="post"
          >
            <sl-input
              id="tripName"
              name="tripName"
              class="trip-name"
              label="Trip Name"
              placeholder="Washington 5-Day Backpacking, Day Hike..."
              size="medium"
              th:field="${trip.tripName}"
              clearable
            ></sl-input>
            <sl-input
              id="numOfDays"
              type="number"
              min="1"
              value="1"
              name="numOfDays"
              class="numOfDays"
              label="Number of Days"
              placeholder="Enter a number"
              size="medium"
              th:field="${trip.numOfDays}"
            ></sl-input>
            <sl-input
              id="numOfPeople"
              type="number"
              min="1"
              value="1"
              name="numOfPeople"
              class="numOfPeople"
              label="Number of People"
              placeholder="Enter a number"
              size="medium"
              th:field="${trip.numOfPeople}"
            ></sl-input>
            <sl-textarea
              id="tripDetails"
              name="tripDetails"
              th:field="${trip.tripDetails}"
              label="Trip Details"
              placeholder="Vegetarian Menu, Day 1: Hike to Blue Lake"
              rows="12"
            >
            </sl-textarea>

            <div class="totalWeight">
              <h2>Weight Per Person/Per Day</h2>
              <div class="weights">
                <div class="weight-box">
                  <label class="weight__label">Grams</label>
                  <input
                    th:field="${trip.gramsPerPersonPerDay}"
                    class="weightInGrams"
                    type="number"
                    min="0"
                    value="0"
                    id="weightInGrams"
                    readonly
                  />
                </div>
                <div class="weight-box">
                  <p class="weight__label">Pounds</p>
                  <p id="weightInPounds" class="weightInPounds">0.0</p>
                </div>
              </div>
            </div>
          </form>
        </section>

        <div class="trip-btn">
          <sl-button form="tripForm" variant="primary" type="submit"
            >Save Trip</sl-button
          >
          <form
            th:action="@{/home/postDeleteTrip/{tripId}(tripId=${trip.tripId})}"
            method="post"
          >
            <sl-button
              class="delete-trip-btn"
              id="discardTripButton"
              type="submit"
              variant="warning"
              outline
              >Discard Trip</sl-button
            >
          </form>
        </div>

        <section class="trip-recipe-section" id="tripRecipeSection">
          <div class="trip-recipe-title-box">
            <h2>Trip Recipes</h2>
          </div>
          <div class="trip-recipe-wrapper">
            <table class="trip-recipe-table" id="tripRecipeTable">
              <!-- <tr>
                <th>Quantity</th>
                <th>Recipe Name</th>
                <th>Recipe Type</th>
                <th>Weight</th>
              </tr> -->
            </table>
          </div>
        </section>

        <section class="recipe-book-section">
          <div class="trip-recipe-title-box">
            <h2>Your Recipe Book</h2>
          </div>
          <div
            class="empty"
            th:if="${recipes == null or #lists.size(recipes) == 0}"
          >
            <p>You don't have any recipes yet!</p>
          </div>
          <div class="wrapper" th:if="${#lists.size(recipes) > 0}">
            <table class="recipe-book-table" id="recipeTable">
              <tr>
                <th>Add</th>
                <th>Recipe Name</th>
                <th>Recipe Type</th>
                <th>Serves</th>
                <th>Weight in Grams</th>
              </tr>
              <tr
                method="get"
                th:each="recipe : ${recipes}"
                th:attr=" data-recipe-id=${recipe.recipeId}"
              >
                <td>
                  <input
                    type="checkbox"
                    id="recipeCheckbox"
                    class="recipeCheckbox"
                    th:value="${recipe.recipeId}"
                  />
                </td>
                <td class="recipe-name" th:text="${recipe.recipeName}"></td>
                <td th:text="${recipe.recipeType?.displayValue}"></td>
                <td th:text="${recipe.servings}"></td>
                <td th:text="${recipe.totalWeight}"></td>
              </tr>
            </table>
          </div>
        </section>
        <script src="/js/trip.js"></script>
      </div>
    </div>
    <footer class="footer">
      <p id="copyright" class="copyright text">
        Copyright &copy; 2024 by Jeff Podmayer
      </p>
    </footer>
  </body>
</html>
