<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/783d090aa0.js"
      crossorigin="anonymous"
    ></script>
    <title>Plan a Trip!</title>
  </head>
  <body>
    <h1>Let's Plan a Trip!</h1>
    <!-- TRIP DETAILS SECTION -->
    <input type="hidden" id="tripId" th:value="${trip.tripId}" />
    <form
      id="tripForm"
      th:action="@{/home/saveTrip/{tripId}(tripId=${trip.tripId})}"
      method="post"
    >
      <div>
        <label id="tripName">Trip Name:</label>
        <input type="text" th:field="${trip.tripName}" />
      </div>
      <div>
        <label>Number of Days:</label>
        <div id="numOfDaysAlert" style="color: red; display: none;"></div>
        <input id="numOfDays" type="number" min="1" value="1" th:field="${trip.numOfDays}"/>
       
      </div>
      <div>
        <label>Number of People:</label>
        <div id="numOfPeopleAlert" style="color: red; display: none;"></div>
        <input id="numOfPeople" type="number" min="1" value="1" th:field="${trip.numOfPeople}" />
      </div>
      <div>
        <label id="tripDetails">Trip Details:</label>
        <textarea th:field="${trip.tripDetails}" rows="4" cols="50"></textarea>
      </div>

      <hr/>

      <div class="totalWeight">
        <h3>Weight Per Person/Per Day</h3>
        <div>
            <p class="weight__label">Grams:</p>
            <input th:field="${trip.poundsPerPersonPerDay}" class="weightInGrams" type="number" min="0" value="0" id="weightInGrams" readonly/>
        </div>
        <div>
            <p class="weight__label">Pounds:</p>
            <p id="weightInPounds" class="weightInPounds">0.0</p>
        </div>
    </div>

    <hr/>
    <button type="submit" id="saveTripButton">Save Trip</button>
    </form>
    <form  th:action="@{/home/postDeleteTrip/{tripId}(tripId=${trip.tripId})}"
    method="post">
        <button type="submit" id="discardTripButton">Discard Trip</button>
    </form>

    <hr/>

    <div id="tripRecipeSection">
        <h2>Chosen Recipes for Your Trip:</h2>
        <table id="tripRecipeTable">
          <tr>
            <th>Quantity</th>
            <th>Recipe Name</th>
            <th>Recipe Type</th>
            <th>Instructions</th>
            <th>Serves</th>
            <th>Weight</th>
            <th>Delete?</th>
          </tr>
        </table>
      </div>

      <hr/>

    <h3>Your Recipe Book</h3>
    <div th:if="${recipes == null or #lists.size(recipes) == 0}">
        You don't have any recipes yet!
      </div>
      <div th:if="${#lists.size(recipes) > 0}">
        <table id="recipeTable">
          <tr>
            <th>Add</th>
            <th>Recipe Name</th>
            <th>Recipe Type</th>
            <th>Instructions</th>
            <th>Serves</th>
            <th>Weight</th>
          </tr>
          <tr
            method="get"
            th:each="recipe : ${recipes}"
            th:attr=" data-recipe-id=${recipe.recipeId}"
          >
          <td>
            <input type="checkbox" id="recipeCheckbox" class="recipeCheckbox" th:value="${recipe.recipeId}">
          </td>
            <td th:text="${recipe.recipeName}"></td>
            <td th:text="${recipe.recipeType?.displayValue}"></td>
            <td th:text="${recipe.instructions}"></td>
            <td th:text="${recipe.servings}"></td>
            <td th:text="${recipe.totalWeight}"></td>
          </tr>
        </table>
        <script src="/js/trip.js"></script>
  </body>
</html>
